<ion-header>
  <ion-toolbar color="secondary" style="color: white;">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Pickup Calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card status="hold" updatedAt="25/08/2024 11:36:00" createdAt="23/08/2024" notes="we have two bags that are full, one with plastic and the other with glasses"></app-pickup-call-card>
  <app-pickup-call-card status="processing" updatedAt="26/08/2024 17:50:20" createdAt="23/08/2024" notes="we have two bags that are full"></app-pickup-call-card>
  <app-pickup-call-card status="finished" updatedAt="28/08/2024 18:35:05" createdAt="23/08/2024" value="$35,00"></app-pickup-call-card>
</ion-content>
